.loader {
  display: none;
  text-align: center;
  font-weight: bold;
}

.error {
  display: none;
  color: red;
  text-align: center;
  font-weight: bold;
}

.cat-info {
  display: none;
  text-align: center;
  margin-top: 2rem;
  background-color: #777777;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 1rem;
}

.cat-info img {
  width: 300px;
  height: auto;
  margin-bottom: 1rem;
  float: left;
}

.cat-info h2 {
  margin: 0.5rem 0;
  font-size: 24px;
  font-weight: bold;
}

.cat-info p {
  margin: 0.5rem 0;
  display: inline-block;
  width: 600px; 
}

.cat-info .cat-temperament {
  font-weight: bold;
}